html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(135deg, #e95420, #77216f);
    overflow: hidden;
}

.navbar {
    background-color: black;
}

.screen {
    width: 100%;
    height: 100%;
    display: flex;
}


.desktop{
    width: 100%;
}